$primary-color: rgb(26, 29, 66);

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  background: rgb(255, 255, 255);
}
.home {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
  &-header {
    background-color: $primary-color;
    width: 100%;
    height: 40vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 2vh;
    &-title {
      color: white;
      font-size: 3rem;
    }
    &-nav {
      background-color: white;
      color: $primary-color;
      font-weight: bold;
      font-size: 1.8rem;
      height: 60px;
      width: 250px;
      border-radius: 15px;
    }
  }
  .top-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    a {
      width: 48.3%;
      color: $primary-color;
      height: 20vh;
      margin: 15px 0px;
      border-radius: 15px;
      border: 2px solid $primary-color;
      .top {
        height: 100%;
        width: 100%;
        align-items: center;
        display: flex;
        position: relative;
        &-price {
          width: 70px;
          height: 70px;
          background-color: $primary-color;
          position: absolute;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-weight: bold;
          right: -4%;
          top: -15%;
          border: 2px solid white;
          box-shadow: 0px 0px 5px $primary-color;
          transform: rotate(-15deg);
        }
      }
    }
  }
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 50px;

  &-button {
    width: 30%;
    height: 50px;
    font-weight: bold;
    background-color: $primary-color;
    font-size: 1.1rem;
    color: white;
  }
  .reset {
    color: $primary-color;
    background-color: white;
    border: 2px solid $primary-color;
  }
}

label {
  color: $primary-color;
  font-weight: bold;
  font-size: 1.5rem;
}
#filter {
  border: 2px solid $primary-color;
  width: 30%;
  height: 2.5rem;
  margin: 10px;
  font-size: 1.3rem;
  padding-left: 10px;
}

.products {
  width: 80%;
  span {
    font-size: 0.8rem;
    color: rgb(129, 129, 129);
    background-color: rgb(162, 251, 159);
    font-weight: normal;
    height: 21px;
    display: inline-block;
    vertical-align: top;
    padding: 3px 7px;
    border-radius: 50vh;
    margin-left: 5px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: white;
    min-height: 30px;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 20px;
    border-bottom: 1px solid gray;
  }
  &-back {
    background: none;
    font-size: 2.2rem;
    cursor: pointer;
    svg {
      height: 30px;
    }
  }
}

.product {
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 20px;
  height: 60px;
  background-color: rgb(218, 218, 218);
  border-bottom: 1px solid gray;
  color: rgb(51, 51, 51);
  margin-top: 10px;
  border-radius: 15px;
  transition: all ease-in-out 0.3s;

  &:hover {
    box-shadow: 0px 0px 5px rgb(122, 122, 122);
    background-color: rgb(140, 150, 170);
    color: rgb(255, 255, 255);
  }
}

.details {
  width: 70%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: $primary-color;
  padding: 20px;
  border-radius: 15px;
  color: white;
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &-img {
    width: 38%;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  &-description {
    margin: 20px 0;
    line-height: 1.4rem;
  }
  .btnContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    span {
      padding: 0 10px;
    }
  }
  &-price {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
  }
  a {
    font-size: 1.5rem;
    color: white;
  }
  a:active .fa-w-14:first-child {
    color: rgb(70, 181, 255);
  }
  a:active .fa-w-14:last-child {
    color: rgb(70, 181, 255);
  }
}

.back {
  background: none;
  font-size: 2.2rem;
  cursor: pointer;
  color: white;
  svg {
    height: 30px;
  }
}

.title {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

h1 {
  margin-left: 10px;
}
